/* universal*/
body, html {
  margin:0;
  padding: 0;
}
body {
  text-align: center;
}

/* text styles*/
h1, h2, h3 {
  font-family: 'Quicksand';
}
p {
  font-family: 'Raleway';
  margin-left: 10%;
  margin-right: 10%;
}

/*object based*/
#header {
  background-image:url("assets/background_1.jpg");
  padding-top: 45vh;
  padding-bottom:38vh;
  color:white;
}
